<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profile" style="position:fixed;bottom:3%;right:2%;">
    <i class="bi bi-person-circle"></i> Profile
</button>
  
  <!-- The Modal -->
  <div class="modal fade" id="profile">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-primary">Profile</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <p>
            Nama : 
            <span class="text-primary"><%= user.name %></span>
          </p>
          <p>
            Tanggal Lahir : 
            <span class="text-primary"><%= user.birth.toLocaleDateString('id', { year: 'numeric', month: 'long', day: 'numeric'}) %></span>
          </p>
          <p>
            E-mail : 
            <span class="text-primary"><%= user.email %></span>
          </p>
          <!-- <br>
          <a class="btn btn-primary" href="/profile/edit"><i class="bi bi-pencil-square"></i> Edit</a> -->
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <a href="/profile/edit" class="btn btn-outline-success"><i class="bi bi-pencil-square"></i> Edit</a>
          <form class="d-flex" method="GET" action="/logout">
            <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are You Sure?')"><i class="bi bi-box-arrow-left"></i> Logout</button>
          </form>
        </div>
  
      </div>
    </div>
  </div>