<div class="row" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(./home-bg.webp); background-size: cover; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;" data-aos="fade-down">
  <div class="col mt-5" data-aos="fade-down">
    <br><br><br>
    <h1 class="text-light text-center display-5"><strong>Layanan Pengaduan</strong></h1>
    <h3 class="text-light text-center mt-4">Website Informasi dan Layanan Pengaduan</h3>
    <h6 class="text-light text-center">Dinas Komunikasi dan Informatika Kota Manado</h6>
    <div class="text-center mt-5">
      <img src="./logo_kominfo.png" alt="" style="width: 100px; height: 100px;">
      <img src="./logo-kota-manado.webp" alt="" style="width: 100px; height: 100px;">
    </div>
    <br><br><br><br><br><br><br>
  </div>
  <!-- <img src="./home_bg.jpg" alt="" class="img-fluid"> -->
</div>
<div class="mt-5" style="margin-left: 0px; margin-right: 0px; padding-left: 50px; padding-right: 50px;">
  <hr>
</div>
<div class="row justify-content-center mt-5" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
    <div class="col-4" data-aos="fade-right">
      <a style="text-decoration: none;" href="/submit">
        <div class="card" style="width: 20rem;">
          <div class="card-body text-center">
            <h1><i class="bi bi-send-exclamation-fill"></i></h1>
            <h5 class="card-title">Submit Ticket</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-4" data-aos="fade-left">
      <a style="text-decoration: none;" href="/ticket">
      <div class="card" style="width: 20rem;">
        <div class="card-body text-center">
          <h1><i class="bi bi-file-earmark-text-fill"></i></h1>
          <h5 class="card-title">Ticket Saya</h5>
        </div>
      </div>
    </a>
    </div>
</div>
<div class="mt-5" style="margin-left: 0px; margin-right: 0px; padding-left: 50px; padding-right: 50px;">
  <hr>
</div>
<div class="row justify-content-center mt-5" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;" data-aos="fade-up">
  <div class="col-5 p-5" data-aos="fade-right">
    <h2 class="text-secondary text-center">
      Alur Pengaduan
    </h2>
    <br><br><br>
    <img class="text-center" src="./illust-1.svg" alt="" height="500px">
  </div>
  <div class="col p-5" data-aos="fade-left">
    <div class="row mt-4">
      <div class="col-1">
        <h4>1</h4>
      </div>
      <div class="col">
        <p class="text-secondary">
          Pengguna yang melakukan pengaduan melalui <strong>Layanan Pengaduan</strong> selanjutnya disebut Pengadu.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">
        <h4>2</h4>
      </div>
      <div class="col">
        <p class="text-secondary">
          Pengadu melakukan login terlebih dahulu dengan melalui <a href="/login">Halaman Login</a>.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">
        <h4>3</h4>
      </div>
      <div class="col">
        <p class="text-secondary">
          Pengadu memilih menu submit ticket yang terdapat di halaman <a href="/">Halaman Utama</a>.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">
        <h4>4</h4>
      </div>
      <div class="col">
        <p class="text-secondary">
          Setelah melakukan submit ticket, ticket akan diperiksa oleh petugas.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">
        <h4>5</h4>
      </div>
      <div class="col">
        <p class="text-secondary">
          Jika dirasa tidak masuk kriteria, maka ticket akan ditolak. Dan pengadu dapat mengulang submit ticket jika dirasa perlu.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">
        <h4>6</h4>
      </div>
      <div class="col">
        <p class="text-secondary">
          Jika ticket memenuhi kriteria, maka ticket akan diterima petugas.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">
        <h4>7</h4>
      </div>
      <div class="col">
        <p class="text-secondary">
          Setelah ticket diterima, maka user dapat melakukan komunikasi dengan petugas melalui fitur chat yang disediakan.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">
        <h4>8</h4>
      </div>
      <div class="col">
        <p class="text-secondary">
          Setelah permasalahan diselesaikan, pengadu dapat mengubah status ticket menjadi selesai dengan menekan tombol centang.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-1">
        <h4>9</h4>
      </div>
      <div class="col">
        <p class="text-secondary">
          Informasi mengenai ticket pengguna dapat dilihat di <a href="/ticket">Halaman Lihat Ticket</a>.
        </p>
      </div>
    </div>
  </div>
</div>
<br>