<div class="row justify-content-center mt-5" data-aos="fade-down">
  <div class="col p-5">
    <h1 class="text-primary text-center display-5"><strong>WAILAN</strong></h1>
    <h3 class="text-primary text-center display-6">Website Informasi dan Layanan Pengaduan</h3>
    <h4 class="text-primary text-center mt-4">Halaman Petugas</h4>

  </div>
</div>
<div class="row justify-content-center mt-5" data-aos="fade-down">
    <div class="col-4 mb-5">
      <a style="text-decoration: none;" href="/petugas/ticket">
        <div class="card" style="width: 20rem; background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));">
        <div class="card-body text-center">
          <h1><i class="bi bi-send-exclamation-fill"></i></h1>
          <h5 class="card-title">Semua Ticket</h5>
        </div>  
      </div>
    </a>
    </div>
    <div class="col-4 mb-5">
      <a style="text-decoration: none;" href="/petugas/ticket/approved">
      <div class="card" style="width: 20rem; background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));">
        <div class="card-body text-center">
          <h1><i class="bi bi-file-earmark-text-fill"></i></h1>
          <h5 class="card-title">Ticket Diterima</h5>
        </div>
      </div>
    </a>
    </div>
</div>