<div class="row mt-5">
    <% if (error.length > 0) { %>
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <%= error %>.
          </div>
        <% } %>
    <div class="col-6">
        <h1>Register Admin</h1>
        <form method="POST" action="/petugas/register">
            <div class="mb-3">
                <label for="name" class="form-label">Nama</label>
                <div class="row">
                    <input type="text" class="form-control" placeholder="Nama" name="name" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <div class="row">
                    <input type="text" class="form-control" placeholder="E-mail" name="email" aria-describedby="emailHelp" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="row">
                    <input type="password" class="form-control" placeholder="Min 8 characters" name="password" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <div class="row">
                    <input type="password" class="form-control" placeholder="Same with above" name="confirmPassword" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Register</button>
            <p class="mb-5">Already have an account? <a href="/petugas/login">Login!</a></p>
            </form>
    </div>
</div>